{
	"singleQuote": true,
	"useTabs": true,
	"tabWidth": 4,
	"semi": true,
	"printWidth": 100,
	"overrides": [
		{
			"files": "*.yml",
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	],
	"plugins": ["prettier-plugin-tailwindcss"],
	"tailwindConfig": "./tailwind.config.ts"
}
